<div *ngIf="book; else nobook">
    
    <!-- Start list -->
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src] = "book.volumeInfo.imageLinks?.thumbnail" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <!-- Titre -->
                <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
                <!-- Auteur -->
                <p class="card-text" *ngIf="book.volumeInfo.authors"><small class="text-muted">Par : {{ book.volumeInfo.authors }}</small></p>

                <!-- Infos -->
                <star-rating value={{book.volumeInfo.averageRating}} checkedcolor="orange" uncheckedcolor="grey" size="20px"    readonly="true" (rate)="onRate($event)"></star-rating>                

                <p class="card-text infos" *ngIf="book.volumeInfo.categories">Genre : {{ book.volumeInfo.categories }}</p>
                <p class="card-text infos" *ngIf="book.volumeInfo.publisher">Editeur : {{ book.volumeInfo.publisher }}</p> 
                <p class="card-text infos" *ngIf="book.volumeInfo.language">Langue : {{ book.volumeInfo.language }}</p> 
                <p class="card-text infos" *ngIf="book.volumeInfo.averageRating">Note : {{ book.volumeInfo.averageRating }}/5</p> 
                <p class="card-text infos" *ngIf="book.volumeInfo.pageCount">Nombre de pages : {{ book.volumeInfo.pageCount }}</p> 
                <p class="card-text infos">E-Book : {{book.volumeInfo.isBook ? "Disponible" : "Indisponible"}}</p> 
                <p class="card-text infos" *ngIf="book.volumeInfo.industryIdentifiers">ISBN : {{ book.volumeInfo.industryIdentifiers[0].identifier }}</p>
                <p class="card-text text-primary" *ngIf="book.saleInfo.listPrice">Prix : {{ book.saleInfo.listPrice.amount || "10" }} €</p>
                <button [routerLink]="['/cart']" (click)="addToCart(book)" type="button" class="btn btn-info text-center">Ajouter au panier</button>
            </div>
            
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="book.volumeInfo?.description">
          <h5>Résumé : </h5>
            <!-- Description -->
            <p class="card-text" [innerHTML]="book.volumeInfo.description">Résumé :</p>
        </div>
    <!-- End list -->

</div>
<ng-template #nobook>
    <p>Aucun livre trouvé.</p>
</ng-template>
